server:
  port: 8080

spring:
  application:
    name: gateway-server
  cloud:
    gateway:
      routes:
        - id: main-service
          uri: lb://main-service
          predicates:
            - Path=/events/**,/categories/**,/compilations/**,/admin/**,/users/**,/requests/**,/comments/**