services:
  zookeeper:
    image: confluentinc/cp-zookeeper:7.5.0
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000

  kafka:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
       - zookeeper
    ports:
      - "9092:9092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_HOST://localhost:9092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1

  kafka-init:
    image: confluentinc/cp-kafka:7.5.0
    depends_on:
      - kafka
    command: >
      bash -c "kafka-topics --bootstrap-server kafka:29092 --create --if-not-exists
      --topic stats.user-actions.v1 --partitions 1 --replication-factor 1 &&
      kafka-topics --bootstrap-server kafka:29092 --create --if-not-exists
      --topic stats.events-similarity.v1 --partitions 1 --replication-factor 1"


  stats-server:
    ports:
      - "9090:9090"

  stats-db:
    image: postgres:16.1

  ewm-service:
    ports:
      - "8080:8080"

  ewm-db:
    image: postgres:16.1
