server:
  port: 8080

spring:
  application:
    name: gateway-server
  config:
    import: "optional:configserver:"
  cloud:
    config:
      discovery:
        enabled: true
        service-id: config-server
gateway:
  routes:
    - id: main-service
      uri: lb://main-service
      predicates:
        - Path=/events/**,/categories/**,/compilations/**,/admin/**,/users/**,/requests/**,/comments/**
eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka
  instance:
    prefer-ip-address: true